html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #141414;
}

html {
  font-size: calc(100vw / 120);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 25);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}